@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


:root {
    --color-1: #27374D;
    --color-2: #526D82;
    --color-3: #9DB2BF;
    --color-4: #DDE6ED;
}

body {
    color: gray;
    background-color: var(--color-1);
   
   }

   h1 {font-family: "Bungee Spice", sans-serif;}